.AddCoupon {
    display: grid;
    justify-content: center;
    
}
form {
}

/* Full-width inputs */
.AddCoupon input[type=text], input[type=number] ,input[type=datetime-local] {
    width: 200%;
    padding: 12px 20px;
    margin: 8px 0;
    display: flex;
    flex-direction:column;
    justify-content: center;
    box-sizing: border-box;
}

/* Set a style for all buttons */
.AddCoupon button {
    background-color: #04AA6D;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 200%;
}

/* Add a hover effect for buttons */
.AddCoupon .button:hover {
    opacity: 0.8;
}