.CouponList {
    /* overflow-y:auto; 
    height: 100%;
    width: 100%;
    text-align: center;
    flex-wrap: wrap;

    display:flex;
    align-items: center;
    justify-content: center; */
    /* flex-direction: row; */
}

